please confirm your order

<form method = "post" action = "confirm">
	<div id = "box">
		<div id = "toppings">
			<%=size%><br>
		</div>
		
		<div id = "toppings">	
			<%=crust%> crust<br>
		</div>
	</div>	
	<%if meats == nil%>

	<%else%>
	<div id = "box">
		meats
		<%meats.each do |x|%>
		<div id = "toppings">
			<input type = "radio" id = "meats" name = "meats[<%=x%>]" value = "<%=x%>" checked>yes
			<input type = "radio" id = "meats" name = "meats[<%=x%>]">no
			<%=x%>
			<img src = "/images/<%=x%>.png"  width="42" height="42"><br>
		</div>
	 	<%end%>
	 <%end%>
	</div>

 	<%if veggies == nil%>

	<%else%>
		<div id = "box">	
			Veggies
			<%veggies.each do |x|%>
			<div id = "toppings">
				<input type = "radio" name = "veggies[<%=x%>]" value = "<%=x%>" checked>yes
				<input type = "radio" name = "veggies[<%=x%>]">no
				<%=x%>
				<img src = "/images/<%=x%>.png"  width="42" height="42">
				<br>
			</div>
			<%end%>
		<%end%>
	</div>
	
	<%if special == nil%>

	<%else%>
		<div id = "box">
			specials
			<%special.each do |x|%>
			<div id = "toppings">
				<input type = "radio" name = "special[<%=x%>]" value = "<%=x%>" checked >yes
				<input type = "radio" name = "special[<%=x%>]">no
				<%=x%><br>
			</div>
			<%end%>
		<%end%>
	</div>	
	
	<input type = "submit" value = "enter">
	</form>

	<form method = "post" action="back">
	<input type = "submit" value = "REDO">
	</form>

