please confirm your order

<form method = "post" action = "confirm">
	<div id = "box">
		<div id = "toppings">
		<%size.each_pair do |size,price|%>
			<%=size%> $<%=price%><br>
			<input type = "hidden" name = "price[]" value = "<%=price%>">
		<%end%>
		</div>
		
		<div id = "toppings">
		<%crust.each_pair do |crust,price|%>	
			<%=crust%> crust + $<%=price%><br>
		<%end%>
		</div>
	</div>	
	<%if meats == nil%>

	<%else%>
	<div id = "box">
		meats
		<%meats.each do |meat|%>
			<%meat.each_pair do |x,price|%>
				<div id = "toppings">
					<input type = "radio" id = "meats" name = "meats[<%=x%>]" value = "<%=x%>" checked>yes
					<input type = "radio" id = "meats" name = "meats[<%=x%>]">no
					<input type = "hidden" name = price[] value = "<%=price%>">
					<%=x%> + $<%=price%>
					<img src = "/images/<%=x%>.png"  width="42" height="42"><br>
				</div>
			 		<%end%>
			<%end%>
	 	<%end%>
	</div>

 	<%if veggies == nil%>

	<%else%>
		<div id = "box">	
			Veggies
			<%veggies.each do |veggy|%>
				<%veggy.each_pair do |x,price|%>
				<div id = "toppings">
					<input type = "radio" name = "veggies[<%=x%>]" value = "<%=x%>" checked>yes
					<input type = "radio" name = "veggies[<%=x%>]">no
					<input type = "hidden" name = "price[]" value = "<%=price%>"
					<%=x%> + $<%=price%>
					<img src = "/images/<%=x%>.png"  width="42" height="42">
					<br>
				</div>
				<%end%>
			<%end%>
		<%end%>
	</div>
	
	<%if special == nil%>

	<%else%>
		<div id = "box">
			specials
			<%special.each do |spec|%>
				<%spec.each_pair do |x,price|%>
				<div id = "toppings">
					<input type = "radio" name = "special[<%=x%>]" value = "<%=x%>" checked >yes
					<input type = "radio" name = "special[<%=x%>]">no
					<input type = "hidden" name = "price[]" value = "<%=price%>">
					<%=x%> + $<%=price%><br>
				</div>
				<%end%>
			<%end%>
		<%end%>
	</div>	
	
	<input type = "submit" value = "enter">
	</form>

	<form method = "post" action="back">
	<input type = "submit" value = "REDO">
	</form>

