Here your order!!!!

<%counter = 1%>
<%final.each do |pizza|%>
	<div id = "box">
	Pizza <%=counter%>
		<%pizza.each do |item|%>
			<div id = "toppings">
				<%=item%><br>
			</div>
		<%end%>
		$<%=final_price[counter - 1]%>
	</div>
	<%counter += 1%>
<%end%>

<%price = 0.0%>
<%final_price.each do |number|%>
	<%x = number.to_f%>
	<%price += x%>
<%end%>

<%tax = price/6%>
<div id = "box">
	<div id = "toppings">
		$<%=price%> :cost
	</div>
	<div id = "toppings">
	$<%=tax.round(2)%> :tax
	</div>
	<%if delivery == "delivery"%>
		<div id = "toppings">
			$10.00	<%=delivery%> | address: <%=address%>
		</div>
		$<%=price + tax.round(2) + 10%> :final price<br>
		<%=lname%> :name on order
	<%else%>
		<div id = "toppings">
			<%=delivery%>
		</div>
	$<%=price + tax.round(2)%> :final price<br> 
	<%=lname%> :name on order
	<%end%>
</div>

