Heres your pizza!!!!!<br><br>
<div id = "box">

	<div id = "toppings">
	<%size.each_pair do |y, x|%>
		$<%=x%> :<%=y%><br>
	<%end%>
	</div>

	<div id = "toppings">
	<%crust.each_pair do |y,x|%>
		$<%=x%> :<%=y%><br>
	<%end%>
	</div>

	<%if meats == nil%>

	<%else%>
		<%meats.each do |meat|%>	
			<%meat.each_pair do |value, price|%>
				<%if value == "on"%>

				<%else%>
											
				<div id = "toppings">
					$<%=price%>	:<%=value%>
					<img src = "/images/<%=value%>.png" width = "40" height = "40"><br>
				</div>
				<%end%>
			<%end%>
		<%end%>	
	<%end%>

	<%if veggies == nil%>

	<%else%>
		<%veggies.each do |veggy|%>
			<%veggy.each do |value, price|%>
				<%if value == "on"%>

				<%else%>
										
					<div id = "toppings">
						$<%=price%>	:<%=value%>
						<img src = "/images/<%=value%>.png"  width="42" height="42"><br>
					</div>
				<%end%>
			<%end%>
		<%end%>
	<%end%>

	<%if special == nil%>

	<%else%>
		<%special.each do |spec|%>
			<%spec.each_pair do |value,price|%>
				<%if value == "on"%>

				<%else%>			
										
					<div id = "toppings">
						$<%=price%>	:<%=value%><br>
					</div>		
				<%end%>
			<%end%>
		<%end%>
	<%end%>


	<div id = "toppings">
	$<%=total%> :total
	</div>
</div>