Heres your pizza!!!!!<br><br>
<div id = "box">
	<%=lname%>

	<div id = "toppings">
		<%=size%><br>
	</div>

	<div id = "toppings">
		<%=crust%><br>
	</div>

	<%if meats == nil%>

	<%else%>
		<%meats.each do |value|%>
			<%if value == "on"%>

			<%else%>
										
			<div id = "toppings">
				<img src = "/images/<%=value%>.png" width = "40" height = "40">
				<%=value%><br>
			</div>
			<%end%>
		<%end%>
	<%end%>

	<%if veggies == nil%>

	<%else%>
		<%veggies.each do |value|%>
			<%if value == "on"%>

			<%else%>
									
				<div id = "toppings">
					<img src = "/images/<%=value%>.png"  width="42" height="42">
					<%=value%><br>
				</div>
			<%end%>
		<%end%>
	<%end%>

	<%if special == nil%>

	<%else%>
		<%special.each do |value|%>
			<%if value == "on"%>

			<%else%>			
									
			<div id = "toppings">
				<%=value%><br>
			</div>		
			<%end%>
		<%end%>
	<%end%>

	<div id = "toppings">
	<%=delivery%><br>
	</div>

	<div id = "toppings">
	<%=address%>
	</div>
</div>